!!! 5
%html
  %head
    %title= "Rejestracja na serwerze jid.pl"
    %meta{ :content => "Rejestracja nowego użytkownika na serwerze XMPP jid.p", :name => "description" }
    %meta{ :content => "7 days", :name => "revisit-after" }
    %link{ :href => "/css/pure-min.css", :rel => "stylesheet" }
    %script{:type => "text/javascript", :src => "js/bootstrap.min.js"}
  :css
    html {
      font-size: 0.9em;
      background-color: #fff;
      color: #444;
    }

    div.flash {
      padding: 8px;
      color: #fff;
    }

    div.flash.error {
      background-color: #cc0000;
    }

    div.flash.info {
      background-color: #008100;
    }

    .pure-form-aligned label.hint {
      width: 20em;
      text-align: left;
      color: #bbb;
    }
  %body
    %div{ :style=>"width: 600px; margin-left: auto; margin-right: auto; margin-top: 100px;" }
      %img{:src => "logo.png"}   
      %p Formularz umożliwiający rejestrację konta na serwerze <a href="http://www.jid.pl/">XMPP jid.pl</a>
      %p= styled_flash
      %form.pure-form{ :action => "/register", :method => "post", :class => "pure-form-aligned"}
        %fieldset
          %div.pure-control-group
            %label{:for => "username"} Nazwa użytkownika
            %input{:type => "text", :id => "username", :name => "username", :required => "required", :autofocus => "autofocus"}
            %label.hint{:for => "username"} @jid.pl
          %div.pure-control-group
            %label{:for => "password"} Hasło
            %input{:type => "password", :id => "password", :name => "password", :required => "required", :autocomplete => "off"}
          %div.pure-control-group
            %label{:for => "passwordrepeat"} Hasło jeszcze raz
            %input{:type => "password", :id => "passwordrepeat", :name => "passwordrepeat", :required => "required", :autocomplete => "off"}
          %div.pure-control-group
            %label{:for => "email"} Email
            %input{:type => "email", :id => "email", :name => "email"}
            %label.hint{:for => "email"} Opcjonalne
          %div.pure-controls
            = recaptcha_tag :ajax, :display => { :theme => 'clean'}
            %input{:type => "submit", :value => "Zarejestruj!", :class => "pure-button pure-button-primary", :style => "margin-top: 20px;"}

